body{
    padding: 0;          
    margin: 0;  
}

.nav-container {
    width: 100%;           
    
    display: flex;      
    justify-content: space-between; 
    align-items: center;
    padding: 15px;
    padding-right: 2%;
    box-sizing: border-box;

    background-color: #3a2a80;
    border-bottom: 1px solid #EAE1D8; /* Subtle separator */
}

.logo-img{
    width: 180px;
    max-width: 100%;
    height: auto;
}

.nav-link-with-icon {
    display: inline-flex;
    align-items: center;
    gap: 4px; 
    text-decoration: none;
}

.cart-icon,
.profile-icon {
    width: 24px;
    height: auto;
    display: block;
}

.nav-menu ul {
    display: flex;       
    list-style: none;             
    gap: 20px;           
}

.nav-menu {
    display: flex;       
    gap: 40px;        
    align-items: center; 
}

.nav-menu .left-group a {
    color: #EAE1D8;
    text-decoration: none;
}

.nav-menu .right-group span {
    color: #EAE1D8;
}