body{
    padding: 0;          
    margin: 0;  
}

.nav-container {
    width: 100%;           
    max-width: 1200px;   
          
    
    display: flex;      
    justify-content: space-between; 
    align-items: center;
    padding: 10px 20px;
}

.logo-img{
    width: 180px;
    max-width: 100%;
    height: auto;
}

.nav-link-with-icon {
    display: inline-flex;
    align-items: center;
    gap: 4px; 
    text-decoration: none;
}

.cart-icon,
.profile-icon {
    width: 24px;
    height: auto;
    display: block;
}

.nav-menu ul {
    display: flex;       
    list-style: none;             
    gap: 20px;           
}

.nav-menu {
    display: flex;       
    gap: 40px;        
    align-items: center; 
}